<!DOCTYPE html>
<html>
    <head>
        <title>EJS 에제</title>
        <script type="text/javascript" src="./js/rsp.js"></script>
                                    <!-- 요청상의 url 경로!!! -->
    </head>
    <body>
        <p>EJS 페이지</p>
        <p><%= name %></p>
    </body>
</html>