p {
    color:red;
    font-weight: bold;
    font-size: large;
    margin-left: 50px;
 }

 .blueXLargeFont {
     color:blue;
     font-size: x-large;
 }

 #name {
     color:black;
 }
